---
import LayoutFocusMode from "@layouts/LayoutFocusMode.astro";
import { generateCourseTree } from "src/utils/generateCourseTree.astro";

export interface Lesson {
  lessonTitle: string;
}

const { course, module, lesson } = Astro.params;

const lessonPath = `/courses/${course}/${module}/${lesson}`;

const lessons = await Astro.glob<Lesson>("/content/courses/*/*/*.mdx");

const lessonFiltered = lessons.find((lesson) =>
  lesson.url?.includes(lessonPath)
);

if (!lessonFiltered) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}

const { frontmatter, Content } = lessonFiltered;

const courseTree = await generateCourseTree();
---

<LayoutFocusMode courseTree={courseTree} title={frontmatter.lessonTitle}>
  <div class="mx-auto w-11/12 max-w-3xl py-10">
    <article class="prose max-w-none dark:prose-invert">
      <Content />
    </article>
  </div>
</LayoutFocusMode>
