---
import Scripts from "@components/Scripts.astro";
import ModuleLessonToggle from "@components/focus-mode/ModuleLessonToggle";
import Link from "@components/ui/Link.astro";
import ThemeToggler from "@components/ui/ThemeToggler";

export interface Props {
  title: string;
  courseTree: {
    course: {
      courseUrl: string;
      courseTitle: any;
    };
    modules: {
      lessons: (
        | {
            lessonUrl: string | undefined;
            lessonTitle: any;
          }
        | undefined
      )[];
      moduleUrl: string;
      moduleTitle: any;
    }[];
  }[];
}
const url = Astro.url.pathname;

const { title, courseTree } = Astro.props;

const { course, modules } = courseTree[0];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <Scripts />
  </head>
  <body class="relative bg-white text-black dark:bg-black dark:text-neutral-50">
    <main class="flex">
      <aside
        class="sticky inset-y-0 hidden h-screen w-96 shrink-0 flex-col gap-6 overflow-y-auto bg-neutral-100 py-6 dark:bg-neutral-900 lg:flex"
      >
        <div class="flex items-center justify-between px-6">
          <Link
            title="Go to homepage"
            class="text-xl"
            href="/"
            ariaLabel="Go to homepage"
          >
            learnweb
          </Link>

          <ThemeToggler client:load />
        </div>

        <div class="px-6">
          <Link
            href={course.courseUrl}
            title="Go to course page"
            ariaLabel="Go to course page"
            class="text-2xl"
          >
            {course.courseTitle}
          </Link>
        </div>

        <div>
          {
            modules.map((module) => (
              <ModuleLessonToggle url={url} module={module} />
            ))
          }
        </div>
      </aside>

      <div class="w-full">
        <slot />
      </div>
    </main>
  </body>
</html>
